# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
env/

# Ignore local configuration files
*.env

# Ignore Docker-related files
Dockerfile
docker-compose.yml
docker-compose.prod.yml

# Ignore any other files that should not be included in the Docker image
*.log
*.sqlite3
*.db
media/
static/